<div class="block block-html no-border">
    {% if settings.custom_html_livechat_text != blank %}
      <div class="html-content">{{ settings.custom_html_livechat_text }}</div>
    {% endif %}
</div>
