<div class="bs-megamenu-mobile">
    <div class="bs-megamenu-button">
        <a class="btn-mega-mobile" href="javascript:void(0)">
            <span>{{ 'Toggle' }}</span>
        </a>
    </div>
    
    <div class="megamenu-sidebar">
        <div class="megamenu-sidebar-content">
            <div class="mobile-horizontal" data-mega-mobile="horizontal">
            
            </div>

            <div class="mobile-vertical" data-mega-mobile="vertical">
            
            </div>
        </div>
    </div>

    <div class="megamenu-overlay">
    
    </div>
</div>
