body {
    overflow-x: hidden;
}

.bzotech-megamenu img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.bzotech-megamenu .cat-content {
    display: flex;
    align-items: center;
}

.bzotech-megamenu .cat-label {
    font-size: 13px;
    padding: 2px 5px;
    font-weight: 400;
    border-radius: 2px;
}

.bzotech-megamenu .cat-content .cat-image {
    display: flex;
    padding-right: 7px;
}

.bzotech-megamenu .cat-content .cat-image img {
    max-width: 20px;
}

.bzotech-megamenu {
    background-color: #eee;
}

.bzotech-megamenu a {
    text-decoration: none;
    transition: 0.1s;
}

.megamenu-sub-dropdown .list-sub-items {
    display: block !important;
    height: auto !important;
}

@media (min-width: 1025px) {
    /* Horizontal */
    .menu-container {
        position: relative;
    }

    .megamenu-horizontal .menu-items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .megamenu-horizontal .menu-items:after {
        content: "";
        display: block;
        clear: both;
    }

    .megamenu-horizontal .menu-items > .item {
        float: left;
        margin-right: 20px;
    }

    .megamenu-horizontal .menu-items > .item.align-item {
        position: relative;
    }

    .megamenu-horizontal .menu-items > .item.align-container {
        position: static;
    }

    .megamenu-horizontal .menu-items > .item.item-right {
        float: right;
        margin-right: 0;
    }

    .megamenu-horizontal .menu-items > .item.item-right .dropdown-megamenu {
        right: 0;
        left: auto;
    }

    .megamenu-horizontal .menu-items > .item > a {
        position: relative;
    }

    .megamenu-horizontal .menu-items > .item > a:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 3px;
        background-color: var(--theme-primary-color);
        opacity: 0;
        z-index: 600;
    }

    .megamenu-horizontal .menu-items > .item:hover > a:before {
        opacity: 1;
    }

    .megamenu-horizontal .menu-items > .item > .item-link {
        display: block;
        padding: 0;
        height: 80px;
        line-height: 80px;
        transition: 0.1s;
    }
    .megamenu-horizontal .menu-items > .item > .item-link.active {
        color: var(--theme-primary-color);
    }
    .megamenu-horizontal
        .menu-items
        > .item
        > .item-link.active
        > .cat-content
        > .caret {
        border-top: 2px solid var(--theme-primary-color);
        border-right: 2px solid var(--theme-primary-color);
    }
    .megamenu-horizontal .menu-items > .item.item-dropdown > .item-link {
        padding-right: 15px;
    }

    .megamenu-horizontal
        .menu-items
        > .item
        > .item-link
        > .cat-content
        > .caret {
        display: block;
        width: 6px;
        height: 6px;
        border-top: 2px solid #888;
        border-right: 2px solid #888;
        position: absolute;
        right: 3px;
        top: 38px;
        transform: rotate(135deg);
    }

    .bzotech-megamenu .megamenu-horizontal .cat-label {
        position: absolute;
        line-height: 16px;
        top: -13px;
        z-index: 20;
        right: 0;
    }

    .megamenu-horizontal .menu-items > .item .dropdown-megamenu {
        background-color: #fff;
        position: absolute;
        left: 0;
        opacity: 0;
        visibility: hidden;
        padding: 15px;
        z-index: 500;
        opacity: 0;
        transform-origin: center top 0;
        transform: scaleY(0);
        transition: 0.3s;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
    }

    .megamenu-horizontal .menu-items > .item:hover .dropdown-megamenu {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
    }

    .megamenu-horizontal .menu-items > .item.drop-full .dropdown-megamenu {
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        left: 0;
        margin: 0 -15px;
        right: 0;
    }

    .megamenu-horizontal
        .menu-items
        > .item.drop-full
        .dropdown-megamenu::before {
        content: "";
        display: block;
        position: absolute;
        left: -10000px;
        right: -10000px;
        background: #fff;
        top: 0;
        bottom: 0;
        z-index: -1;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .megamenu-horizontal .menu-items > .item > .item-link .cat-name {
        font-size: 20px;
        /* font-family: var(--font-custom-family); */
        font-family: "Bubblegum Sans", cursive;
    }

    .megamenu-horizontal .cat-label {
        font-size: 12px;
        padding: 0 4px;
        border-radius: 2px;
        position: absolute;
        top: 8px;
        right: 0;
        height: auto;
        line-height: 18px;
    }

    /* Vertical */

    /* General */
    .dropdown-content {
        display: flex;
        flex-wrap: wrap;
    }
    #menu-mobile
        .align-item.show-dropdown-menu
        .dropdown-megamenu
        .colum-sub-cat {
        padding-bottom: 0;
    }
    .dropdown-content .megamenu-column {
        padding: 15px;
    }
    .block-text p {
        margin: 0;
    }

    .megamenu-column.category-block .sub-items,
    .megamenu-column.category-block .list-sub-items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .megamenu-column.category-block .category-title strong {
        color: #222;
    }

    .megamenu-column.category-block .sub-items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    .megamenu-column.category-block .sub-items .colum-sub-cat {
        padding-left: 15px;
        padding-right: 15px;
    }

    .megamenu-column.category-block .sub-items .colum-sub-cat > a {
        color: var(--text-color);
        padding: 4px 0;
        display: block;
    }

    .megamenu-column.category-block .sub-items .colum-sub-cat > a:hover {
        color: var(--link-hover-color);
    }

    .megamenu-column.category-block .sub-items .colum-sub-cat > a.have-child {
        font-size: 24px;
        color: var(--link-color);
        /* font-family: var(--font-custom-family); */
        font-family: "Bubblegum Sans", cursive;
        margin-bottom: 10px;
        display: block;
    }

    .megamenu-sub-dropdown .list-sub-items li {
        position: relative;
    }

    .megamenu-sub-dropdown > .list-sub-items .list-sub-items {
        background-color: #fff;
        white-space: nowrap;
        padding: 10px 15px;
        border: 1px solid #ddd;
        left: 50%;
        top: -11px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 500;
        transition: 0.1s;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .megamenu-sub-dropdown > .list-sub-items > li:hover > .list-sub-items {
        opacity: 1;
        visibility: visible;
    }

    .megamenu-sub-dropdown .list-sub-items li > a {
        padding: 2px 0;
        display: table;
        color: var(--text-color);
    }
    .megamenu-sub-dropdown .list-sub-items li > a.active {
        color: var(--theme-primary-color);
    }

    .megamenu-sub-dropdown .list-sub-items li > a:hover {
        color: var(--link-hover-color);
    }

    /** Vertical Megamenu **/
    .megamenu-content::after {
        content: "";
        display: block;
        clear: both;
    }

    .megamenu-vertical {
        float: left;
        width: 200px;
        position: relative;
    }

    .vertical-title {
        line-height: 48px;
        background-color: #ddd;
        padding: 0 20px;
        color: #222;
    }

    .megamenu-vertical .dropdown-vertical {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: #fff;
        width: 250px;
        z-index: 500;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        top: 100%;
        margin-top: 30px;
        transition: 0.2s;
    }

    .megamenu-vertical .menu-items {
        margin: 0;
        padding: 15px 0;
        list-style: none;
    }

    .megamenu-vertical .menu-items .dropdown-megamenu {
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 100%;
        min-height: 100%;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: center left 0;
        transition-timing-function: ease-in-out;
        transition: 0.3s;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .megamenu-vertical .menu-items .item:hover .dropdown-megamenu {
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
    }

    .megamenu-vertical:hover .dropdown-vertical {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
    }

    .megamenu-vertical .cat-label {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin-left: 5px;
    }

    .megamenu-vertical .menu-items > .item > .item-link {
        position: relative;
        padding: 5px 20px;
        color: #222;
        display: flex;
        align-items: center;
        border-left: 3px solid transparent;
    }

    .megamenu-vertical .menu-items > .item:hover > .item-link {
        color: #0099e5;
        background-color: #f5f5f5;
        border-color: #0099e5;
    }

    .megamenu-vertical
        .menu-items
        > .item
        > .item-link
        > .cat-content
        > .caret {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #888;
        border-right: 2px solid #888;
        position: absolute;
        right: 20px;
        top: 16px;
        transform: rotate(45deg);
    }

    .megamenu-vertical .menu-items > .item.hidden-item {
        display: none;
    }

    .megamenu-vertical.show-all .menu-items > .item.hidden-item {
        display: block;
    }

    .megamenu-vertical.show-all .megamenu-btn.more {
        display: none;
    }

    .megamenu-vertical.show-all .megamenu-btn.less {
        display: block;
    }

    .megamenu-vertical .more-less-item {
        padding: 0 23px;
        color: #222;
        border-top: 1px solid #ddd;
        font-weight: 700;
        cursor: pointer;
    }

    .megamenu-vertical .more-less-item > div {
        padding: 15px 0;
        cursor: pointer;
    }

    .megamenu-vertical .more-less-item .less {
        display: none;
    }

    .bs-megamenu-mobile {
        display: none;
    }

    .btn-drop-mobile {
        display: none;
    }
}

@media (max-width: 1024px) {
    .bs-megamenu-mobile {
        display: block;
    }

    .megamenu-horizontal,
    .megamenu-vertical {
        display: none;
    }
    .dropdown-content .megamenu-column {
        padding: 0;
    }
    .megamenu-sidebar {
        position: fixed;
        left: -300px;
        top: 0;
        bottom: 0;
        width: 270px;
        background-color: #fff;
        padding: 20px;
        overflow-y: auto;
        z-index: 9999;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in;
    }

    .show-bs-megamenu,
    .show-bs-megamenu body {
        overflow: hidden;
    }

    .show-bs-megamenu .megamenu-sidebar {
        left: 0;
    }

    .megamenu-sidebar .menu-items {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .megamenu-sidebar .dropdown-megamenu,
    .megamenu-sidebar .megamenu-column {
        width: 100% !important;
    }

    .megamenu-sidebar .dropdown-megamenu {
        display: none;
    }

    .megamenu-sidebar .item.active > .dropdown-megamenu {
        display: block;
    }

    .megamenu-sidebar .menu-items > .item {
        position: relative;
        border-bottom: 1px solid #ddd;
    }

    .megamenu-sidebar .menu-items > .item > .item-link {
        display: flex;
        align-items: center;
        padding: 7px;
        color: #222;
    }

    .megamenu-sidebar .menu-items > .item > .item-link .cat-label {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin-left: 5px;
    }

    .megamenu-sidebar .btn-drop-mobile {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        top: 7px;
        transition: 0.1s;
    }

    .megamenu-sidebar .item.active .btn-drop-mobile {
        transform: rotate(-180deg);
    }

    .megamenu-sidebar .btn-drop-mobile::before {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-top: 2px solid #888;
        transform: rotate(135deg);
        border-right: 2px solid #888;
        margin: 9px 0 0 10px;
    }

    .megamenu-sidebar .list-sub-items {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
    }

    .megamenu-sidebar .list-sub-items a {
        color: #222;
    }

    .megamenu-sidebar .colum-sub-cat {
        width: 100% !important;
    }

    .megamenu-sidebar .colum-sub-cat > a {
        color: #222;
        font-weight: 700;
    }

    .megamenu-sidebar .megamenu-column {
        padding-left: 34px;
    }

    .megamenu-overlay {
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 9990;
        transition: 0.2s ease-in;
    }

    .show-bs-megamenu .megamenu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .bs-megamenu-button {
        padding: 10px 0;
    }

    .bs-megamenu-button .btn-mega-mobile {
        position: relative;
        display: block;
        width: 25px;
        height: 23px;
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
    }

    .bs-megamenu-button .btn-mega-mobile::before {
        content: "";
        display: block;
        height: 1px;
        background-color: #222;
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
    }

    .bs-megamenu-button .btn-mega-mobile span {
        display: none;
    }
}
