/**
 * Slidershow
 */

.slidershow .item {
    position: relative;
}

.slidershow .item .slider-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    display: flex;
}

.slidershow .slider-sub-title {
    font-size: 22px;
    line-height: 80px;
    background: url('bg-price-slide.png') no-repeat 0 center;
    text-align: center;
    background-size: 100%;
    width: 84%;
    color: var(--theme-secondary-color);
}
.slidershow .slider-sub-title span{
    color: var(--theme-primary-color);
}

.slidershow .slider-main-title {
    font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 7px;
    color: var(--theme-secondary-color);
}

.slidershow .slider-description {
    margin-bottom: 25px;
}

.slidershow .link-button-slide {
    display: inline-block;
    padding: 13px 50px;
    margin-right: 20px;
    border-radius: 30px;
    line-height: 24px;
    transition: .4s;
}

.slidershow .link-button-slide.button-primary {
    background-color: var(--theme-primary-color);
    color: #fff;
}
.slidershow .link-button-slide:hover{
    box-shadow: inset 0 0 0 2em rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: .4s;
}
.slidershow .link-button-slide.button-secondary {
    background-color: var(--theme-secondary-color);
    color: #fff;
}

.slidershow .slider-info-wrap.effect_item{
  opacity: 0;
  -moz-opacity: 0; 
  -khtml-opacity: 0; 
  -webkit-opacity: 0;
  visibility: hidden;
}
.slidershow .active .slider-info-wrap.effect_item{
  opacity: 1;
  -moz-opacity: 1; 
  -khtml-opacity: 1; 
  -webkit-opacity: 1;
  visibility: visible;
  text-transform: capitalize;
}
.slidershow .slider-info-wrap.effect_item {
  /*left: 0;
  right: auto;
  text-align: left;
  position: absolute;*/
  display: inline-block;
  width: 35%;
}
.slidershow .slideshow2 .slider-info-wrap.effect_item {
  width: 39%;
}
.slidershow .slideshow2 .slider-sub-title {
  width: 80%;
}
.slidershow .slideshow2 .slider-main-title {
  color: #fff;
}
.slidershow .active .slider-info-wrap.effect_item .slider-main-title{
  animation: 1500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.slidershow .active .slider-info-wrap.effect_item .slider-main-title{
  animation: 1500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.slidershow .active .slider-info-wrap.effect_item .slider-sub-title{
  animation: 1700ms ease-in-out 0s normal none 1 running flipInX;
}
.slidershow .active .slider-info-wrap.effect_item .slider-sub-title{
  animation: 1700ms ease-in-out 0s normal none 1 running flipInX;
}
.slidershow .active .slider-info-wrap.effect_item .slider-buttons{
  animation: 1900ms ease-in-out 0s normal none 1 running fadeInUp;
}
.slidershow .active .slider-info-wrap.effect_item .slider-buttons{
  animation: 1900ms ease-in-out 0s normal none 1 running fadeInUp;
}




.slidershow .slider-info-wrap.effect_right {
  left: auto;
  right: 54%;
  text-align: left;
}
.slidershow .slider-info-wrap.effect_top {
  left: 15%;
  right: auto;
  top: 25%;
  bottom: auto;
  text-align: left;
}
.slidershow .slider-info-wrap.effect_bottom {
  left: 15%;
  right: auto;
  bottom: 33%;
  top: auto;
  text-align: left;
}

.slidershow .owl-theme .owl-nav {
    margin: 0;
}

.slidershow .owl-theme .owl-nav [class*=owl-] {
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: -20px 0 0;
    padding: 0;
    position: absolute;
    top: 50%;
    background-color: #fff;
    color: var(--theme-secondary-color);
    opacity: .3;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: .2s;
}

.slidershow .owl-theme .owl-nav [class*=owl-]:hover {
    opacity: 1;
    cursor: pointer;
}

.slidershow .owl-theme .owl-nav [class*=owl-] span {
    display: none;
}

.slidershow .owl-theme .owl-nav [class*=owl-].owl-next {
    right: 55px;
}

.slidershow .owl-theme .owl-nav [class*=owl-].owl-next:before {
    content: '\f105';
    display: inline-block;
    font-family: 'Line Awesome Free' !important;
    speak: none;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
.slidershow .owl-theme:hover .owl-nav [class*=owl-] {
  opacity: 0.3;
}
.slidershow .owl-theme .owl-nav [class*=owl-]:hover {
  opacity: 1;
  background: #fff;
  color: var(--theme-secondary-color);
} 
.slidershow .owl-theme .owl-nav [class*=owl-].owl-prev {
    left: 55px;
}

.slidershow .owl-theme .owl-nav [class*=owl-].owl-prev:before {
    content: '\f104';
    display: inline-block;
    font-family: 'Line Awesome Free' !important;
    speak: none;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}
@media (max-width: 1440px) {
  .slidershow .slider-main-title {
    font-size: 60px;
  }
  .slidershow .slider-info-wrap.effect_item {
    width: 33%;
  }
}
@media (max-width: 1366px) { 
  .slidershow .owl-theme .owl-nav [class*=owl-].owl-next {
    right: 20px;
  }
  .slidershow .owl-theme .owl-nav [class*=owl-].owl-prev {
    left: 20px;
  }
  .slidershow .slider-main-title {
    line-height: 65px;
  }
  .slidershow .slider-description {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) { 
  .slidershow .slideshow2 .slider-info-wrap.effect_item {
    width: 50%;
  }
}

@media (max-width: 768px) { 
  .slidershow .slideshow2 .slider-info-wrap.effect_item {
    width: 55%;
  }
}
@media (max-width: 767px) { 
  .slidershow .owl-theme .owl-nav [class*=owl-].owl-next {
    right: 15px;
  }
  .slidershow .owl-theme .owl-nav [class*=owl-].owl-prev {
    left: 15px;
  }
  .slidershow .owl-theme .owl-nav [class*=owl-] {
    opacity: 0;
  }
  .slidershow .active .slider-info-wrap.effect_item .slider-sub-title {
    display: none;
  }
}
@media (max-width: 480px) { 
  .slidershow .slideshow2 .slider-info-wrap.effect_item{
    width: 70%;
  }
}