.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}
.cart-items thead {
  background: #fafafa;
  border-top: 1px solid #ededed;
}
.cart-items tbody tr.cart-item {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image {
  max-width: 100%;
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: 1.4;
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.8rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__name {
  text-decoration: none;
  display: block;
}
.cart-item__price-wrapper .price.price--end span {
  font-size: 18px;
  color: var(--theme-secondary-color);
  font-weight: 500;
}
.cart__footer .totals__subtotal-value span {
  font-size: 20px;
  color: var(--theme-primary-color);
  font-weight: 700;
}
.cart-item__totals .cart-item__price-wrapper .price.price--end span
 {
  color: var(--theme-primary-color);
}

.cart-item__price-wrapper {
  margin: 0;
  display: inline-block;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}
.cart-item__details .product-option {
  font-size: 13px;
}
.cart-item__discounted-prices dd { 
  margin: 0;
}

.cart-item__old-price {
  opacity: 0.7;
}

.product-option {
  font-size: 1.6rem;
  line-height: 1.5;
}

.cart-item cart-remove-button {
  display: inline-block;
  margin: 0 0 0 auto;
  margin-left: 10px;
}
.cart-item .cart-item__totals .price,
.cart-item .cart-item__prices .price {
  font-weight: 700;
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

cart-remove-button .button {
  min-width: 4.5rem;
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
  transition: all .6s;
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    top: 0;
    padding-top: 5.5rem;
    bottom: auto;
  }
}

.loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  font-size: 1.2rem;
  display: flex;
}

.cart-item__error-text {
  order: 1;
}

.cart-item__error-text + svg {
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option {
  color: var(--color-foreground-70);
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}
.cart-items thead th,
.cart-items td{
  padding: 10px;
  text-transform: capitalize;
  font-size: 13px;
}
.cart-items thead th {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  letter-spacing: 0;
}
@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--color-foreground-20);
    margin-bottom: 4rem;
  }

  .cart-items .medium-up {
    display: none;
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 3;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 2 / 4;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items th {
    border-bottom: 0.1rem solid var(--color-foreground-20);
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items td {
    vertical-align: middle;
    padding: 20px 0;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 4rem;
  }

  .cart-item__media {
    width: 7.5rem;
  }

  .cart-item quantity-input {
    margin-top: 0.7rem;
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    max-width: 140px;
  }
  .cart-item quantity-input input.quantity__input{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-bottom: none;
    border-top: none;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
  }
  .cart-items .medium-down {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 10rem;
  }
}
.title-wrapper-with-link {justify-content: right;
}

.title-wrapper-with-link a.btn_continue_shopping{
    display: inline-block;
    background: var(--theme-secondary-color);
    padding: 10px 30px;
    border-radius: 23px;
    color: var(--text-on-theme-primary-color);
    text-transform: capitalize;
    letter-spacing: unset;
    font-weight: 500;
    margin-top: 30px;
}
.cart__contents .cart__items {
  padding-bottom: 0;
  margin-bottom: 0;
}
.totals .totals__subtotal-value,
.totals .totals__subtotal  {
  font-size: 13px;
}
.totals .totals__subtotal-value {
  font-weight: 700;
}
.cart__footer small.tax-note {
  font-style: italic;
  font-size: 0.875em;
}
.cart__footer .cart__ctas button[type="submit"] {
  background: var(--theme-primary-color);
  color: var(--text-on-theme-primary-color);
  text-transform: capitalize;
  box-shadow: inset 0 0 0 0 #ffffff1a;
  transition: .4s;
}
.cart__footer .cart__ctas button[type="submit"]:hover{
  box-shadow: inset 0 0 0 2em #ffffff1a;
}
.cart__footer .cart__ctas {
  display: inline-block;
  float: right;
}
.cart__footer .cart__ctas .cart__checkout-button {
  padding: 10px 40px;
  font-size: 13px;
  letter-spacing: unset;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .cart-item__totals {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cart-item__totals .cart-item__price-wrapper {
    margin-top: 27px;
  }
  .cart-item cart-remove-button {
    margin-top: 22px;
  }
  .cart-items .cart-item .cart-item__details  {
    padding-left: 20px;
  }
  .cart-item quantity-input {
    margin-top: 0;
  }
}
@media (max-width: 992px) {
  .quantity__button {
    width: 3.5rem;
  }
}
@media (max-width: 767px) {
  .cart-items thead tr {
    margin-bottom: 0;
  }
  .cart-item .cart-item__image {
    border-radius: 3px;
  }
  .cart-items .cart-item .cart-item__quantity {
    display: flex;
    gap: 10px;
    align-items: start;
    padding: 0 0 20px;
  }
  .cart-items .cart-item .cart-item__details,
  .cart-items .cart-item .cart-item__prices {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .cart-item__totals {
    grid-template-columns: 1fr;
  }
  .cart-item cart-remove-button {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .cart-item .cart-item__totals {
    padding: 0;
    display: flex;
    align-items: start;
  }
  .cart-item quantity-input {
    border-radius: 23px;
  }
  .cart-item quantity-input input.quantity__input {
    border-radius: 0;
    border-top: none;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
  }
  .cart-items tbody tr.cart-item {
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    align-items: center;
    border-top: none;
    margin: 0;
  }
  .cart__footer .totals {
    justify-content: right;
  }
  .cart__footer small.tax-note {
    text-align: right;
  }
  .cart-items thead {
    border-bottom: 1px solid #ededed;
  }
}