.articles-wrapper.grid {
  margin: 0 0 5rem 0;
}

@media screen and (min-width: 750px) {
  .articles-wrapper.grid {
    margin-bottom: 7rem;
  }
}

.articles-wrapper .article {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.article-card {
  background-color: transparent;
  align-self: flex-start;
  flex: 0 1 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.article-card a.article-content:hover{
  color: inherit;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__info {
  padding: 2.5rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.article-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.article-content:hover .article-card__title {
  color: var(--main-color);
}

.article-card__image {
  overflow: hidden;
}

.article-content img {
  transition: transform var(--duration-default) ease;
}

/*
.article-content:hover img {
  transform: scale(1.07);
}
*/
.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__link.link {
  padding: 0;
  text-transform: uppercase;
font-weight: 600;
font-size: 14px;
display: inline-block;
background: transparent;
color: #000;
padding-right: 25px;
margin-top: 0;
position: relative;
  text-decoration: none;
}
.article-card__link.link:hover {
  color: var(--main-color);
}
.article-card__link.link:before{
  content: '';
  background: url("right-arrow.png") no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
  background-size: 15px 15px;
  background-position: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 0;
  top: 5px;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-content:hover .article-card__link {
  text-decoration-thickness: 0.2rem;
}

.article-card__header h2 {
  margin: 0;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 30px;
}

.article-card__header h2:not(:first-child) {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.article-card__footer {
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}
