.badge {
  border: 1px solid transparent;
  border-radius: 0rem;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0.4rem 1rem;
  text-align: center;
  background-color: var(--color-badge-background);
  border-color: var(--color-badge-border);
  color: var(--color-foreground);
  word-break: break-word;
    background: #ed1d24;
	border-color: #ed1d24;
    text-transform: uppercase;
font-weight: 400;
}
