.collection-list.grid--4-col-tablet .grid__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.collection-list.grid {
  margin: 0 -15px;
}
.collection-list .grid__item .card--stretch {
  position: relative;
}
.collection-list__item .card__text,
.collection-list__item .card-colored {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
.collection-list .card:hover .card-colored .overlay-card {
  background: rgba(255, 255, 255, .7);
}
.collection-list .card:hover .card-colored .media.media--hover-effect>img {
  transform: scale(1.1);
}
.collection-list .overlay-card {
  background: rgba(255, 255, 255, .7);
  z-index: -1;
}
.template-list-collections .spaced-section {
  margin: 0;
}
.template-list-collections .breadcrumbs-title {
  margin-bottom: 90px;
}
.collection-list__item .card__text {
  padding: 12px 0;
}
@media screen and (max-width: 1024px) {
.collection-list.grid--4-col-tablet .grid__item {
  width: 33.33%;
}
}
@media screen and (max-width: 992px) {
  .collection-list.grid--4-col-tablet .grid__item {
    width: 50%;
  }
  .template-list-collections .breadcrumbs-title {
    margin-bottom: 50px;
  }
  }
@media screen and (max-width: 749px) {
  .collage-section + .collection-list-section .no-heading.no-mobile-link {
    margin-top: -7rem;
  }
  .collage-section + .collection-list-section .no-heading:not(.no-mobile-link) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 749px) {
  .collage-section + .collection-list-section .no-heading {
    margin-top: -4rem;
  }
}

.collection-list-title {
  margin: 0;
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper.page-width {
    padding: 0;
  }

  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .collection-list-section .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 749px) {
  .collection-list-wrapper:not(.no-heading) .title-wrapper-with-link {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-list-wrapper.no-heading {
    margin-top: 6rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

.collection-list__item .card--light-border:hover {
  border: 0.1rem solid var(--color-foreground-4);
}

.collection-list__item:only-child .media {
  height: 35rem;
}

@media screen and (max-width: 749px) {
  .collection-list .collection-list__item {
    width: calc(100% - 3rem);
  }

  .collection-list__item.grid__item {
    padding-bottom: 1rem;
  }

  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

.collection-list.negative-margin--small {
  margin-bottom: -1rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item:only-child > *:not(.card--media) {
    height: 320px;
  }

  .collection-list__item:only-child .media {
    height: 47rem;
  }

  .collection-list__item a:hover {
    box-shadow: none;
  }

  .collection-list.grid--3-col-tablet .grid__item {
    max-width: 33.33%;
  }

  .collection-list--4-items .grid__item,
  .collection-list--7-items .grid__item:nth-child(n + 4),
  .collection-list--10-items .grid__item:nth-child(n + 7) {
    width: 50%;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}


.collection-list .card__text-spacing h2 {
    font-size: 20px;
    font-family: 'Bubblegum Sans', cursive;
    color: var(--theme-secondary-color);
}
.collection-list__item .card-colored:hover .card__text-spacing h2 {
  color: var(--theme-primary-color);
}
@media screen and (max-width: 480px) {
  .collection-list.grid--4-col-tablet .grid__item {
    width: 100%;
  }
  }