html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  background-image: var(--body-background-image);
  background-position: var(--body-background-position);
  background-repeat: var(--body-background-repeat);
  font-size: var(--font-size-body);
  color: var(--text-color);
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  line-height: 24px;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);

}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: var(--layout-max-width);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.1s;
}

a:hover {
  color: var(--link-hover-color);
  transition: 0.1s;
}

textarea,
input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type*="date"],
input[type="email"] {
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  border-radius: var(--input-border-radius);
}

select{
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  color: var(--input-text-color);
  border-radius: var(--input-border-radius);
}

.btn,
.button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
}

.btn:hover,
.button:hover {
  background-color: var(--button-background-hover-color);
  color: var(--button-text-hover-color);
}
@media (max-width: 1280px) {
  .container {
    max-width: calc(100% - 60px);
  }
}
@media (max-width: 480px) {
  .container {
    max-width: calc(100% - 30px);
  }
}